* {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	background: url(../img/first-bg.jpg)  no-repeat center top / cover;
	height: 100vh;
}
div {
	box-sizing: border-box;
}

.clearfix {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.container {	
	margin: 0 auto;
	width: 930px;
	border: 1px solid red;
}

.logo {
	margin-top: 40px;
	float: left;
}

nav {
	float: right;
	margin-top: 50px;
}

.menu {
	display: block;
	margin: 0;
	padding: 0;
}

.menu li {	
	float: left;
	display: block;
	margin-left: 40px;
}

.menu li a {		
	text-decoration: none;
	text-transform: uppercase;	
	color: #FFFFFFFF;
	font-size: 14px;	
}

.titles_first {
	font-size: 40px;
	text-transform: uppercase;
	color: #FFFFFFFF;
	text-align: center;
	margin-top: 180px;
}

.titles h1{
	font-size: 70px;
	text-transform: uppercase;
	color: #FFFFFFFF;
	text-align: center;
	margin: 15px 0px 15px 0px;
}

.button {
	background: #F0E90EFF;
	color: #5360ABFF;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin-top: 50px;
}

.section1 {
	background: #FFFFFFFF;
	height: 500px;
}

.titles_second {
	font-size: 30px;
	text-transform: uppercase;
	color: #000000FF;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
}

.section1 p {
	font-size: 14px;
	color: #A0A0A0;
	text-align: center;
	text-transform: none;
	margin: 5px 0 40px 0;
}

.option {
	border: 1px solid red;
	width: 310px;

}

.option img {
	margin: 0 auto;
}

.option h2 {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.option p {
	font-size: 14px;
	color: #A0A0A0;
	text-align: justify;
}

#op1 {
	border: 1px solid green;
}
